<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="wobl">
  <xacro:include filename="$(find wobl_description)/urdf/robot.urdf"/>
  <ros2_control name="MujocoSystem" type="system">
    <hardware>
      <plugin>mujoco_ros2_control/MujocoSystem</plugin>
    </hardware>
    <joint name="L_foot">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="R_foot">
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>

    <joint name="L_hip">
      <command_interface name="position" />
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <joint name="R_hip">
      <command_interface name="position" />
      <command_interface name="velocity" />
      <state_interface name="position" />
      <state_interface name="velocity" />
    </joint>
    <sensor name="ImuSensor">
      <param name="type">IMU</param>
    </sensor>
  </ros2_control>
</robot>